<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launch2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity android:name=".Activity_0_0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="music.MyService"
            android:enabled="true"></service>
        <activity android:name=".MainActivity_1_1" />
        <activity android:name=".MainActivity_1_2" />
        <activity android:name=".MainActivity_1_3" />
        <activity android:name=".MainActiviyi_2_1" />
        <activity android:name="images.ImageActivity1" />
        <activity android:name="images.ImageActivity2" />
        <activity android:name="music.MusicActivity"/>
        <activity android:name="music.MyMusic"/>
        <activity android:name="music.MyActivity" />


    </application>

</manifest>